.blog-container {
    max-width: 800px;
    margin: 80px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.back-button {
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #0056b3;
}

.blog-title {
    color: #333;
    font-size: 24px;
}

.blog-image {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.blog-content p {
    margin: 20px 0;
    text-align: justify;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 30px;
}

.main{
    padding: 1px 0;
}